/*
CSS for the Pizza Order Application
*/
/* 
    Created on : 19-Sep-2019, 7:07:10 PM
    Author     : Michal Zarnowski
*/

body {
  background-color: #fec69c;
  text-align: center;
}

h1, h2 {
    font-family: 'Lobster', cursive;
    color: #ba5614;
    text-align: center;
}

h3, p {
    color: #ba5614;
    text-align: center;
}

#list {
    display: inline-block;
    margin: 0 auto;
}

ul {
    text-align: left;
    color: #ba5614;
}

form {
    display: inline-block;
    text-align: left;
    color: #ba5614;
}

fieldset {
    display: inline-block;
}

legend {
    color: #d88027;
    font-size: 20px;
    font-weight: bold;
}

.buttonHolder { 
    text-align: center;
}

input[type=submit] {
  background-color: #d88027;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#clock {
    color: #d88027;
    font-size: 40px;
    font-weight: bold;
}

input[type=text] {
    margin-left: 10px;
  display: inline-block;
  float: right;
}

iframe {
    overflow: hidden;
    position: absolute;
}

#gifOne {
    top: 15%;
    right: 0%;
}

#gifTwo {
    top: 15%;
    left: 10%;
}

@media only screen and (max-width: 1000px) {
    iframe {
        display: none;
    }
}